{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<h1 id="form-dirs">Fill in the blanks!</h1>

<div id="form">
<form>
	<p class="pform">What is your name?</p> 
	<input id="input1" type="text" /><br>
	<p class="pform">What's your favorite animal:</p> 
	<input id="input2" type="text" /><br>
	<p class="pform">Name a place you want to go:</p> 
	<input id="input3" type="text" /><br>
	<p class="pform">What would you like to eat?</p> 
	<input id="input4" type="text" /><br>
	<p class="pform">Adjective please:</p> 
	<input id="input5" type="text" /><br>
	<p class="pform">Another adjective:</p> 
	<input id="input6" type="text" /><br>
	<p class="pform">Name a thing:</p> 
	<input id="input7" type="text" /><br>
	<p class="pform">Adjective please:</p> 
	<input id="input8" type="text" /><br>
	<p class="pform">Another adjective:</p> 
	<input id="input9" type="text" /><br>
	<p class="pform">Another object please:</p> 
	<input id="input10" type="text" /><br>
	<p class="pform">Yet another adjective:</p> 
	<input id="input11" type="text" /><br>
	<p class="pform">Last adjective, I promise:</p> 
	<input id="input12" type="text" /><br>
</form>
</div>

<button id="tell-story">Tell me a Story!</button>

<script>
	$(document).ready(function () {
		$("#story").hide();
	}); // end document ready function
</script>

<div id="story">
	<p>Once upon a time, <strong class="word1"> </strong> went for a walk in the <strong class="word3"> </strong>. Pretty soon, <strong class="word1"> </strong> came upon a house. <strong class="word1"> </strong> knocked, and when no one answered, <strong class="word1"> </strong> walked right in.</p>
	<br>
	<p>At the table in the kitchen, there were three bowls of <strong class="word4"> </strong>. <strong class="word1"> </strong> was hungry, and tasted the <strong class="word4"> </strong> from the first bowl.</p>
	<p>'This <strong class="word4"> </strong> is too <strong class="word5"> </strong>!' <strong class="word1"> </strong> exclaimed.</p>
	<p>So, <strong class="word1"> </strong> tasted the <strong class="word4"> </strong> from the second bowl.</p>
	<p>'This <strong class="word4"> </strong> is too <strong class="word6"> </strong>!' <strong class="word1"> </strong> said.</p>
	<p>So, <strong class="word1"> </strong> tasted the last bowl of <strong class="word4"> </strong>.</p>
	<p>'Ahhhh, this <strong class="word4"> </strong> is just right,' <strong class="word1"> </strong> said happily and ate it all up.</p>
	<br>
	<p>After <strong class="word1"> </strong> had eaten the three <strong class="word2"> </strong>'s breakfasts, <strong class="word1"> </strong> was feeling a little tired. So <strong class="word1"> </strong> walked into the living room and saw three <strong class="word7"> </strong>s. <strong class="word1"> </strong> sat in the first <strong class="word7"> </strong> to rest <strong class="word1"> </strong>'s feet.</p>
	<p>'This <strong class="word7"> </strong> is too <strong class="word8"> </strong>!' <strong class="word1"> </strong> exclaimed.</p>
	<p>So <strong class="word1"> </strong> sat in the second <strong class="word7"> </strong>.</p>
	<p>'This <strong class="word7"> </strong> is too <strong class="word9"> </strong>!' <strong class="word1"> </strong> whined.</p>
	<p>So <strong class="word1"> </strong> tried the last and smallest <strong class="word7"> </strong>.</p>
	<p>'Ahhhh, this <strong class="word7"> </strong> is just right,' <strong class="word1"> </strong> sighed. But just as <strong class="word1"> </strong> settled down into the <strong class="word7"> </strong> to rest, it broke into pieces!</p>
	<br>
	<p><strong class="word1"> </strong> had just about enough by now, so <strong class="word1"> </strong> went upstairs to the bedroom. <strong class="word1"> </strong> lay down in the first <strong class="word10"> </strong>, but it was too <strong class="word11"> </strong>. Then <strong class="word1"> </strong> lay down in the second <strong class="word10"> </strong> but it was too <strong class="word12"> </strong>. Then <strong class="word1"> </strong> lay down in the third <strong class="word10"> </strong> and it was just right. <strong class="word1"> </strong> fell asleep.</p>
	<br>
	<p>As <strong class="word1"> </strong> was sleeping, the three <strong class="word2"> </strong>s came home.</p>
	<p>'Someone's been eating my <strong class="word4"> </strong>,' growled the Papa <strong class="word2"> </strong>.</p>
	<p>'Someone's been eating my <strong class="word4"> </strong>,' said the Mama <strong class="word2"> </strong>.</p>
	<p>'Someone's been eating my <strong class="word4"> </strong>, and they ate it all up!' cried the Baby <strong class="word2"> </strong>.</p>
	<br>
	<p>'Someone's been sitting in my <strong class="word7"> </strong>,' growled the Papa <strong class="word2"> </strong>.</p>
	<p>'Someone's been sitting in my <strong class="word7"> </strong>,' said the Mama <strong class="word2"> </strong>.</p>
	<p>'Someone's been sitting in my <strong class="word7"> </strong>, and they broke it all to pieces!' cried the Baby <strong class="word2"> </strong>.</p>
	<br>
	<p>They decided to look around some more and when they got upstairs to the bedroom, the Papa <strong class="word2"> </strong> growled, 'Someone's been sleeping in my <strong class="word10"> </strong>!'</p>
	<p>'Someone's been sleeping in my <strong class="word10"> </strong>, too!' said the Mama <strong class="word2"> </strong>.</p>
	<p>'Someone's been sleeping in my <strong class="word10"> </strong>, and they're still there!' excalimed the Baby <strong class="word2"> </strong>.</p>
	<br>
	<p>Just then, <strong class="word1"> </strong> woke up and saw the three <strong class="word2"> </strong>s. <strong class="word1"> </strong> screamed, 'Help!' and jumped up and ran out of the room. <strong class="word1"> </strong> ran down the stairs, opened the door, and ran away into the <strong class="word3"> </strong>. And <strong class="word1"> </strong> never returned to the home of the three <strong class="word2"> </strong>s. But the three <strong class="word2"> </strong>s never stopped hunting <strong class="word1"> </strong>, not until the day they all died.</p>
	<br>
	<p>THE END</p>
</div>

<button id="play-again">Play Again!</button>
{% endblock %}